<div class="hero">
  <div class="container">
    <div class="about">
      <h1>Welcome to La Salle ACM</h1>
      <p>
        We represent La Salle's chapter of the ACM organization. Our goals as a
        club is to provide those interested in computer science and IT the
        opportunity to connect with one another and gain opportunities to gain
        and use skills outside of the classroom.
        <br />
        <br />
        We have a wide variety of different events throughout the year from
        hackathons and competitions to interesting talks and career expos. We
        also will hold a few social events throughout the year. No matter who
        you are we are a great resource for you if you have an interest in
        technology.

        <br />
        <br />
        If you'd like to know more about ACM follow this link here:

        <a href="www.acm.org/about-acm/about-the-acm-organization">About ACM</a>
      </p>
    </div>
  </div>
</div>
