nav {
  font-family: "Roboto Mono", monospace;
  margin-top: 45vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
  text-align: right;
}

.nav-links li {
  list-style: none;
  line-height: 1.5;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--DarkShade);
  text-align: right;
  cursor: pointer;
}
