<nav>
  <div class="nav-links">
    <li>
      <span>
        <a href="">Home</a>
      </span>
    </li>
    <li>
      <span>
        <a href="">About</a>
      </span>
    </li>
    <li>
      <span>
        <a href="">Officers</a>
      </span>
    </li>
    <li>
      <span>
        <a href="">Resources</a>
      </span>
    </li>
    <li>
      <span>
        <a href="">Programming Team</a>
      </span>
    </li>
    <li>
      <span>
        <a href="">CS Department</a>
      </span>
    </li>
  </div>
</nav>
