<div class="hero">
  <div class="container">
    <div class="officers">
      <h1>Officers</h1>
      <h2>Fall 2020 - Spring 2021</h2>

      <div class="grid">
        <div class="officer">
          <h1>Brendan Funk</h1>
          <h2>President</h2>
          <!-- <h3>Majors: Mathematics and Computer Science</h3> -->
        </div>
        <div class="officer">
          <h1>Shania Kiat</h1>
          <h2>Vice President</h2>
        </div>
        <div class="officer">
          <h1>Reyna Battaglia</h1>
          <h2>Secretary</h2>
        </div>
        <div class="officer">
          <h1>Ricky Whitmoyer</h1>
          <h2>Treasurer</h2>
        </div>
      </div>
    </div>
  </div>
</div>
